<footer>
    <div class="card text-center">
        <div class="card-header1">
          Contact Us
        </div>
        <div class="card-body1">
          <h5 class="card-title">+23787382392839</h5>
          <p class="card-text">fastpay12345@gmail.com</p>
          <a href="/" class="btn btn-primary">Home</a>
        </div>
        <div class="card-header1">
            <p>
              Copyright &copy; 2022
            </p>
          </div>
      </div>
</footer>
<script src="js/script.js"></script>
</body>

</html>